@import url('https://fonts.googleapis.com/css?family=Philosopher');

body {
	position: relative;
	background: url("../imagenes/fondos/fondo2.jpg") no-repeat center center;
	background-color:rgba(255,255,255,0.8);
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Philosopher', 'Verdana', sans-serif;
}

#pacienteNombre {
	text-align: center;
}

#section1 {
	width: 90%;
	padding-top:50px;
	color: #000; 
	background-color:rgba(255,255,255,0.8);
	font-family: 'Philosopher', 'Verdana', sans-serif;
	font-size: 1.5em;
	margin: auto;
    overflow: hidden;
    position: relative;
    padding-bottom: 2%;
}

/* width >= 800px */
@media (min-width: 800px) {
	.dropdown:hover .dropdown-menu {
	    display: block;
	    margin-top: 0;
	}
}

.row{
	align-self: center;
}

.pie {
	text-align: center;
	font-size: 1.2em;
	margin-bottom: 2%;
	text-shadow: 1px 1px #000;
	color: #FFF
}