<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Salud Primero S.A. - Paciente</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../javascript/editarMuestraScript.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/registroMuestraStyle.css">

    <script type="text/javascript" src="../javascript/multiple-select.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/multiple-select.css">
</head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#pacienteBar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/operario" class="scroll" data-toggle="collapse" data-target=".navbar-collapse.in" style="font-size: 1.5em;text-decoration: none;"><img src="../imagenes/logo.png" alt="salud primero" width="50" height="50">Salud Primero S.A.</a>
      </div>
      <div class="collapse navbar-collapse" id="pacienteBar">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="/operario/admPaciente"><i class="fa fa-user fa-lg" aria-hidden="true"></i> Administrar pacientes </a>
            </li> 

            <li class="dropdown">
              <a href="/operario/admMuestra"><i class="fa fa-flask fa-lg" aria-hidden="true"></i> Administrar muestras </a>
            </li> 

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-line-chart fa-lg" aria-hidden="true"></i> Gr&aacute;ficos estad&iacute;sticos <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/operario/estadisticas/laboratorios"><i class="fa fa-pie-chart fa-lg" aria-hidden="true"></i> Por laboratorio </a></li>
                <li><a href="/operario/estadisticas/mensual"><i class="fa fa-bar-chart fa-lg" aria-hidden="true"></i> Por meses </a></li>
              </ul>
            </li>
            
            <li><a href="/operario/logout"><i class="fa fa-sign-out fa-lg" aria-hidden="true"></i> Salir</a></li>
          </ul>
      </div>
    </div>
  </nav>

    <div class="container">
    	<div id="section1" class="container-fluid" >
        
        <h1 style="text-align: left;"> Muestras ingresadas </h1>
        
        <button class='btn btn-primary' data-toggle='modal' data-target='#new' data-backdrop='static' data-keyboard='false'>Agregar muestra</button>
        <hr>
        <input class="hidden" id="codmuestra_hidden"></input>
        <div class="datatable table-responsive">
            <table id="example" class="display" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th data-priority="1">Nombres</th>
                            <th data-priority="2">Apellidos</th>
                            <th data-priority="6">Centro Med.</th>
                            <th data-priority="5">Laboratorio</th>
                            <th data-priority="8">Examenes</th>
                            <th data-priority="8">Tipo</th>
                            <th data-priority="8" class='text-center'>Editar</th>
                            <th data-priority="8" class='text-center'>Eliminar</th>
                        </tr>
                    </thead>
            </table>

<!-- ===================== New Modal ========================== -->
            <div class="modal fade" id="new" tabindex="-1" role="dialog" aria-labelledby="new" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title custom_align" id="Heading">Datos de la Muestra</h4>
                    </div>
                    <div class="modal-body">
                    <form id="addMuestra">
                       <input type="hidden" id="addHidden" val="">

                       <div class="form-group">
                          <div class="col-md-5">
                            <label class="control-label">Seleccione un paciente: </label>
                          </div>
                          <div class="col-md-7">
                            <select id="combo-pacientes" class="form-control" name="id_paciente" required>
                              <option value="" disabled selected>- Escoja un paciente de la lista o cree uno -</option>
                            </select>
                          </div>
                          <div class="text-center">
                            <a href="/operario/admPaciente" >Agregar nuevo paciente...</a>
                          </div>
                          <input type="hidden" id="nombresPaciente" name="nombresPaciente" value="">
                          <input type="hidden" id="apellidosPaciente" name="apellidosPaciente" value="">
                        </div><br>

                        <div class="form-group">
                          <div class="col-md-5">
                            <label class="control-label">Centro m&eacute;dico: </label>
                          </div>
                          <div class="col-md-7">
                            <select id="combo-centros" class="form-control" name="id_centro" required>
                              <option value="" disabled selected>-- Escoja un centro m&eacute;dico --</option>
                            </select>
                            <input type="hidden" id="nombreCentro" name="nombreCentro">
                          </div>
                        </div><br><br>

                        <div class="form-group">
                          <div class="col-md-5">
                            <label class="control-label">Laboratorio donde se enviar&aacute;: </label>
                          </div>
                          <div class="col-md-7">
                            <select id="combo-lab" class="form-control" name="id_laboratorio" required>
                              <option value="" disabled selected>-- Escoja un laboratorio --</option>
                            </select>
                            <input type="hidden" id="nombreLaboratorio" name="nombreLaboratorio">
                          </div>
                        </div><br><br>

                        <div class="form-group">
                          <div class="col-md-5">
                            <label class="control-label">Muestra recogida: </label>
                          </div>
                          <div class="col-md-7">
                            <select id="combo-muestras" class="form-control" name="tipo" required>
                              <option value="none" disabled selected>-- Escoja un tipo de muestra --</option>
                              <option value="sangre"> Muestra de sangre </option>
                              <option value="heces"> Muestra de heces </option>
                              <option value="orina"> Muestra de orina </option>
                            </select>
                          </div>
                        </div><br><br>

                        <div class="form-group" style="margin-bottom: 10%;">
                          <div class="col-md-12">
                            <label class="control-label">
                              <p>Seleccione uno o m&aacute;s ex&aacute;menes a realizar:</p>
                            </label>
                            <select id="examenesM" multiple="multiple" style="width:100%; height:120px; ;overflow-y:scroll; margin-bottom:10%;" required>
                            </select>
                          </div>
                        </div>

                        <!-- Input hidden -->
                        <div class="form-group">
                          <input type="hidden" name="estado" value="Ingresado">
                        </div>
                        <br><br>
                        <input id="submitNew" type="submit" class="btn btn-primary" value="Crear">
                        <input type="reset" id="resetNew" class="btn btn-default" value="Cancelar" data-dismiss="modal" onclick="resetModal('new');">

                      </form>
                    </div>

                  </div>
                </div>
              </div>
<!-- ===================== Delete Modal ========================== -->
            <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">Eliminar muestra</h4>
                  </div>
                  <div class="modal-body">
                  <form>
                   
                   <input type="hidden" id="hiddenSuccess">

                   <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span>  ¿Est&aacute;s seguro que quieres eliminar esta muestra?</div>
                    <button type="button" id="confirmDelete" class="btn btn-success" ><span class="glyphicon glyphicon-ok-sign" onclick="confirmarEliminar();"></span> Si, estoy seguro </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No borrar esta muestra </button>
                  </form>
                  </div>
                </div>
              </div>
            </div>
<!-- ===================== Success Modal Templates ========================== -->
            <div id="modal-success" class="modal modal-message modal-success fade" style="display: none;" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header text-center" style="color: #53a93f; border-bottom: 3px solid #a0d468;">
                            <i class="glyphicon glyphicon-check"></i>
                            <p> ¡Realizado con exito! </p>
                        </div>
                        <div class="modal-title" style="padding: 0 20px; text-align: center!important;">  </div>
                        <div class="modal-body"> La operacion se ha llevado a cabo correctamente </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal" onClick="window.location.reload();">OK</button>
                        </div>
                    </div>
                </div>
            </div>
<!-- ===================== End BarCode Modal Templates ========================== -->
            <div id="modal-barcode" class="modal modal-message modal-success fade" style="display: none;" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header text-center" style="color: #53a93f; border-bottom: 3px solid #a0d468;">
                            <i class="glyphicon glyphicon-check"></i>
                            <p> ¡Codigo de barras generado! </p>
                        </div>
                        <div class="modal-title" style="padding: 0 20px; text-align: center!important;">  </div>
                        <div class="modal-body text-center">
                          <input id="barcodeHidden" type="hidden" value="">
                          <p>De click en el siguiente link para visualizar el c&oacute;digo QR para la muestra ingresada</p>
                          <br>
                          <a id="linkbarcode" onclick="verCodigoBarras();" href="#">Visualizar el codigo QR</a>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="ok-barcode" class="btn btn-primary" data-dismiss="modal" onClick="window.location.reload();" disabled="disabled">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
<!-- ===================== End barcode Modal Templates ========================== -->

        </div> <!-- Fin DataTables -->

    </div> <!-- FIN Seccion 1-->

  </div>

  <footer class="pie">
      &copy; Todos los derechos reservados. 2016
  </footer>

  <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.2.1/css/buttons.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.2.0/css/select.dataTables.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

  <script>
      $("#examenesM").multipleSelect({
            placeholder: "Seleccione uno o más exámenes",
            filter: true,
            selectAll: false
      });
// ==============CARGAR EXAMENES==============================
      $('#combo-muestras').click( function() {
        var op = '';
        var opSelected = $('#combo-muestras option:selected').each(function () {
            op += $( this ).val();
        });
        var url = '/examenesdisponibles/'+ op;  // op = tipo de muestra **
        $.ajax({
          type: 'GET',
          url: url,
          data: {},
          success: function(respuesta){
            $("#examenesM").empty();  // Quitar seleccion anterior          
            $.each(respuesta, function(i){
              var $select = $("#examenesM"),
                value = respuesta[i].nombreExamen,
                $opt = $("<option />", {
                  value: value,
                  text: value
                });
              
              $select.append($opt).multipleSelect("refresh");
            });
          }
        });  // Cierre ajax
      });
// =================SUBMIT==============================
      $("#addMuestra").submit(function(e){
          e.preventDefault();
          var url = "/muestras";
          var selmul = $("#examenesM").val(); 
          var data = $("#addMuestra").serialize();
          var mode = $("#submitNew").val();
          var id = $("#addHidden").val();

          if (mode=='Guardar'){
              console.log(id);

              $.ajax({
                  type: 'PUT',
                  url: url+'/'+id,
                  data: data +'&'+$.param({examenes: selmul}),
                  success: function(respuesta){
                      $("#new").modal("hide");
                      $("#modal-success").modal("show");
                  }
              });

            // Borrar los examenes
            $.ajax({
                type: 'DELETE',
                url: '/examenesByMuestra/'+id,
                data: {},
                success: function (){
                    // Do nothing.
                }
            });


           // Se los ingresa nuevamente con el id_muestra
            for ( var j=0 ; j<selmul.length ; j++){
                var exa = selmul[j];
                $.ajax({
                    type: 'POST',
                    url: '/examenes',
                    data: {}+'&'+$.param({tipo: exa})+'&'+$.param({id_muestra: id}),
                    success: function (resp) {
                        // Do nothing.
                    }
                });
            }


          }
      // ----------------------------------------------
          if (mode=='Crear'){
              $.ajax({
                  type: 'POST',
                  url: url,
                  data: data +'&'+$.param({examenes: selmul}),
                  success: function(respuesta){
                      var idMuestra= respuesta._id;

                      // Aqui se agregan los examenes con el id_muestra
                      for ( var j=0 ; j<selmul.length ; j++){
                          var exa = selmul[j];
                          $.ajax({
                            type: 'POST',
                            url: '/examenes',
                            data: {}+'&'+$.param({tipo: exa})+'&'+$.param({id_muestra: idMuestra}),
                            success: function (resp) {
                              // Do nothing.
                            }
                          });
                      }

                      $("#new").modal("hide");
                      $("#barcodeHidden").val(idMuestra);
                      $("#modal-barcode").modal({backdrop: 'static', keyboard: false});
                      //$("#modal-barcode").modal("show");
                  }
              });
          }

      });
// ===============================================
        $("#delete").submit(function(e){
            e.preventDefault();
        });
// ===============================================

  </script>

</body>
</html>