doctype html
html
  head
    meta(charset='utf-8')
    title Salud Primero S.A. - Paciente
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    // Datepicker
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.42/js/bootstrap-datetimepicker.min.js')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.42/css/bootstrap-datetimepicker.min.css')
    script(type='text/javascript', src='/javascript/reporteScript.js')
    link(rel='stylesheet', type='text/css', href='/css/reporteStyles.css')
  body
    nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#pacienteBar')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.scroll(href='/operario', data-toggle='collapse', data-target='.navbar-collapse.in', style='font-size: 1.5em;text-decoration: none;')
            img(src='/imagenes/logo.png', alt='salud primero', width='50', height='50')
            | Salud Primero S.A.
        #pacienteBar.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li.dropdown
              a(href='/operario/admPaciente')
                i.fa.fa-user.fa-lg(aria-hidden='true')
                |  Administrar pacientes
            li.dropdown
              a(href='/operario/admMuestra')
                i.fa.fa-flask.fa-lg(aria-hidden='true')
                |  Administrar muestras
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                i.fa.fa-line-chart.fa-lg(aria-hidden='true')
                |  Gráficos estadísticos 
                span.caret
              ul.dropdown-menu
                li
                  a(href='/operario/estadisticas/laboratorios')
                    i.fa.fa-pie-chart.fa-lg(aria-hidden='true')
                    |  Por laboratorio
                li
                  a(href='/operario/estadisticas/mensual')
                    i.fa.fa-bar-chart.fa-lg(aria-hidden='true')
                    |  Por meses
            li
              a(href='/operario/logout')
                i.fa.fa-sign-out.fa-lg(aria-hidden='true')
                |  Salir
    #section1
      #areaGrap.col-md-12
        h2(style='text-align: center;')  Muestras mensuales por laboratorio 
        hr
        p#avisoDefault(style='text-align: center;') No hay datos para presentar
      // areaGrap
    // Section 1
    footer.pie
      | © Todos los derechos reservados. Salud Primero S.A. 2016
    script(type='text/javascript').
      $(function () {
      var min = moment().subtract(3, 'years'); // Hace 3 años
      var max = moment().add(3, 'years');  // Hasta 3 años
      var today = moment();
      $('#datetimepicker6').datetimepicker({
      viewMode: 'years',
      format: 'DD/MM/YYYY',
      minDate: min,
      maxDate: today
      });
      $('#datetimepicker7').datetimepicker({
      viewMode: 'years',
      format: 'DD/MM/YYYY',
      maxDate: max,
      useCurrent: false //Important! See issue #1075
      });
      $("#datetimepicker6").on("dp.change", function (e) {
      $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
      });
      $("#datetimepicker7").on("dp.change", function (e) {
      $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
      });
      });
    script.
      $("#subDate").submit(function(e){
      e.preventDefault();
      var from = $("#datetimepicker6").data("date");
      var to = $("#datetimepicker7").data("date");
      });
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css', rel='stylesheet', integrity='sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1', crossorigin='anonymous')
    script(type='text/javascript', src='/javascript/chartist.js')
    link(rel='stylesheet', type='text/css', href='/css/chartist.min.css')
