<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Salud Primero S.A. - Mi Perfil</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.2.61/jspdf.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.js"></script>
  <script src='../javascript/pdfmake.min.js'></script> 
  <script src='../javascript/vfs_fonts.js'></script> 
  <link rel="stylesheet" type="text/css" href="../css/examenesStyles.css">
  <script type="text/javascript" src="../javascript/examenes.js"></script>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#pacienteBar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/paciente" class="scroll" data-toggle="collapse" data-target=".navbar-collapse.in" style="font-size: 1.5em;text-decoration: none;"><img src="../imagenes/logo.png" alt="salud primero" width="50" height="50">Salud Primero S.A.</a>
      </div>
      <div class="collapse navbar-collapse" id="pacienteBar">
          
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/paciente/examenes"><i class="glyphicon glyphicon-duplicate"></i> Mis ex&aacute;menes</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i><span id="nombrePaciente"></span><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li style="font-size: 1.15em;"><a href="/paciente/perfil"><i class="glyphicon glyphicon-pencil"></i>  Perfil </a></li>
                <li style="font-size: 1.15em;"><a href="#" data-toggle="modal" data-target="#modalContrasena"><i class="glyphicon glyphicon-cog"></i>  Cambiar contrase&ntilde;a </a></li>
              </ul>
            </li>
            <li><a href="/paciente/logout"><i class="glyphicon glyphicon-off" data-toggle="collapse" data-target=".navbar-collapse.in" ></i> Salir</a></li>
          </ul>

      </div>
    </div>
  </nav>

  <div class="container">
    <div id="modal-success" class="modal modal-message fade" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h3> Cambio de contrase&ntilde;a </h3>
                </div>
                <div class="modal-title" style="padding: 0 20px; text-align: center!important;">  </div>
                <div class="modal-body" id="textoModal"> La operacion se ha llevado a cabo correctamente </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onClick="window.location.reload();">OK</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalContrasena" role="dialog">
        <div class="modal-dialog">
           <form class="form-horizontal" role="form" id="cambiarPassword">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Cambiar contrase&ntilde;a</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label class="col-lg-4 control-label">Ingrese su contrase&ntilde;a: </label>
                <div class="col-lg-7">
                  <input id="passwordold" name="passwordold" class="form-control" type="password" placeholder="Contrase&ntilde;a" required="true" autocomplete="off">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-4 control-label">Nueva contrase&ntilde;a: </label>
                <div class="col-lg-7">
                  <input id="password1" name="password1" class="form-control" type="password" placeholder="Contrase&ntilde;a" required="true" autocomplete="off">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-4 control-label">Repita nueva contrase&ntilde;a: </label>
                <div class="col-lg-7">
                  <input id="password2" name="password2" class="form-control" type="password" placeholder="Contrase&ntilde;a" required="true" autocomplete="off">
                </div>
              </div>
              <br>      
            </div>
              <div class="modal-footer">
                <button id="btnCambiarPassword" type="submit" class="btn btn-primary">Guardar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </form>
          </div>
        </div>
      </div>
  <span class="hidden" id="idpaciente"></span>
  <span class="hidden" id="infopaciente"></span>
    <div id="section1" class="container-fluid" >
      <h1 style="text-align: left;">Ex&aacute;menes</h1>
      <hr>
      <div class="row">
      </div>
      <div id="examenes" class="row-md-12" >
      </div> <!--END row-md-12 -->
    </div>

      <footer class="pie">
        &copy; Todos los derechos reservados. 2016
      </footer>
  </div> <!-- END contenido -->

</body>
</html>